html,
body {
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

.wrapper {
  height: 100%;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  padding: 0 20px;
  z-index: 1;
  box-sizing: border-box;
}

header::after {
  display: inline-block;
  content: "";
  height: 100%;
  vertical-align: middle
}

.container {
  padding-top: 60px;
}

.menu {
  height: 100%;
}

.content {
  padding: 20px;
}

.header-logo {
  display: inline-block;
  vertical-align: middle;
}

.header-operations {
  display: inline-block;
  float: right;
  padding-right: 30px;
  height: 100%;
  & li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
    line-height: 60px;
    cursor: pointer;
    &:last-child {
      cursor: default;
    }
  }
  .header-download {
    opacity: 0.4;
    cursor: default;
    &.is-available {
      opacity: 1;
      cursor: pointer;
    }
  }
  span {
    opacity: 0.7;
  }
  .header-lang {
    cursor: pointer;
    &.is-active {
      opacity: 1;
    }
  }
}

.header-operations::after {
  display: inline-block;
  content: "";
  height: 100%;
  vertical-align: middle
}

.theme-form {
  text-align: center;
}

.query-form {
  margin-top: 20px;
  padding-top: 25px;
  background-color: #f2f2f2;
}

.table {
  margin-top: 30px;
}

.help p {
  margin-bottom: 10px;
  a {
    color: #409eff;
  }
}

// 下面是重写element-ui table的样式
// 列表顶部按钮区域
.table-header-button {
  min-height: 30px;
  height: auto;
  text-align: right;
  margin-bottom: 5px;
}

// 列表顶部筛选区域
.table-header-filter {
  min-height: 50px;
  padding: 15px 5px 5px 5px;
  .el-form-item {
    width: 100%;
  }
  ;
}

// 表格表头
.el-table {
  th {
    background-color: #f5f7f8;
    font-weight: bold;
    color: #333333;
  }
  ;
}

// 分页区域样式
.el-pagination {
  margin-top: 10px;
  text-align: right;
}

// 表格脚
.el-table__footer {
  td {
    background-color: #fff;
    font-size: 14px;
    font-weight: bold;
    .cell {
      color: #f56c6c;
    }
  }
}

// 按钮左边距
.margin-left-mini {
  margin-left: 20px;
}

// 显示隐藏的动画
.fade-enter-active,
.fade-leave-active {
  transition: opacity .3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

// 对话框
.dialog-self {
  width: 40%;
  .el-dialog__header {
    text-align: left !important;
  }
  ;
  .pull-right {
    text-align: right;
  }
  ;
  .el-dialog__body {
    padding-bottom: 1px !important;
  }
  ;
  .el-form {
    text-align: left;
    .is-disabled {
      * {
        border: none;
        background-color: transparent;
        color: #000000;
        cursor: text;
      }
      ;
      .el-input__suffix {
        display: none;
      }
    }
  }
}
